<div class="container">
    
    <h1  class="display-2 text-center font-weight-bold" style="text-decoration: underline;">Checkout</h1>
    <h1 class="display-4" style="text-decoration: underline;">Details</h1>
    <table class="table table-hover">
        <tbody>
            <tr>
                <th scope="row">Name</th>
                <th>Harsha Vardhan M N</th>
            </tr>
            <tr>
                <th scope="row">Service Name</th>
                <th>Server Tech</th>
            </tr>
            <tr>
                <th scope="row">Service Id</th>
                <th>7</th>
            </tr>
            <tr class="table-dark">
                <th scope="row">Total Amount to be Paid</th>
                <th>200</th>
            </tr>
        </tbody>
    </table>
    <p class="font-weight-bold">Click to pay</p>
    <app-paypal></app-paypal>

</div>